* {
    background-color: #232525;
    color: white;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
}

a {
    color: white;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

.flex-row {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.center-row {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    background: none;
    flex-direction: row;
    justify-content: center;
}

.table-row {
    display: flex;
    justify-content: center;
    overflow: auto;
    left: 0;
    width: 100%;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.footer {
    position: fixed;
    padding: 5px;
    top: calc(100vh - 50px);
    z-index: 1;
    width: 100%;
    background-color: #232525;
}

.nav {
    position: sticky;
    left: 0;
    width: 100%;
    top: 0;
    background-color: #232525;
    align-items: center;
    justify-content: center;
}

.dropdown {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.help {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.dd-menu li.divider {
    border-bottom: 1px solid gray;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

.dd-input + .dd-menu {
    display: none;
}

.dd-input:hover + .dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider {
    padding: 0;
    color: grey;
}

.media-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    color: white;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 180px;
    min-width: 180px;
    height: 100%;
}

.left-side:hover > div > i {
    text-decoration: none;
}

.source-icon {
    font-size: 20px;
    color: #1DB954;
    display: flex;
    align-items: center;
}

.meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 1.2;
}

.control-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.play-button {
    font-size: 24px;
}

.volume-container {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 160px;
    max-width: 160px;
    height: 100%;
    justify-content: space-around;
}

.volume-slider {
    width: 120px;
    height: 4px;
    cursor: pointer;
}

.control-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 180px;
    height: 100%;
}

.meta > div, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.with-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: -1;
}

.track-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

#search-container {
    position: relative;
    width: 500px;
}

#search-input {
    border: 1px solid gray;
    border-radius: 30px;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
}

#search-input:focus, #search-input:hover {
    outline: none;
    border: 1px solid #2e8b8b;
}

#search-input:hover::placeholder, #search-input:focus::placeholder {
    color: #2e8b8b;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
    background-color: white;
    display: none;
    z-index: 1000;
}

.dropdown-option {
    padding: 8px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #333;
}

.dropdown-option:hover * {
    background-color: inherit;
}

input[type=range] {
    accent-color: #2e8b8b;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #333;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: #333;
}

*::-webkit-scrollbar-thumb {
    background-color: #2e8b8b;
}

td:nth-child(1), td:nth-child(4) {
    width: 50px;
}

td:nth-child(2), td:nth-child(3) {
    width: 500px;
}

table {
    border-collapse: collapse;
    cursor: pointer;
}

th, td {
    padding: 5px 10px;
    border: 2px solid #626d5c;
    text-align: center;
}

tr:hover td {
    background-color: #333;
}

.fa-trash:hover, #clear:hover * {
    color: red !important;
}

tr .fa-spotify:hover {
    color: #1DB954 !important;
}

#shuffle {
    transition: transform 0.5s ease;
}

.innerSearch {
    background: none;
    display: flex;
    column-gap: 10px
}

.breakMyHeart {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.datatable-sorter {
    border-style: none;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}

.datatable-sorter:hover {
    text-decoration: underline;
}

th[aria-sort="ascending"]::after {
    content: "▲";
    position: absolute;
    right: 20px;
    font-size: 20px;
}

th[aria-sort="descending"]::after {
    content: "▼";
    position: absolute;
    right: 20px;
    font-size: 20px;
}

/*--------------------------------*/

#drawersContainer {
    position: absolute;
}

.drawer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.drawer > input[type=checkbox] {
    display: none;
}
.drawerPull {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #2e8b8b;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: top;
    border-radius: 4px;
}
.drawerContents {
    position: absolute;
    top: 0;
}
.drawerPull {
    position: absolute;
    top: 0;
    z-index: -1;
}
.drawerPull:after {
    content: "";
}

#leftDrawer {
    padding: 0;
    margin: 0;
    left: -350px;
}
#leftDrawerContents {
    left: -10px;
    width: 350px;
    height: calc(100vh - 155px);
    overflow-y: auto;
    transition-property: left;
    transition-duration: 0.5s;
    border: 1px solid white;
    border-radius: 5px;
    z-index: -1;
}
#leftDrawerPull {
    left: 350px;
    transition-property: left;
    transition-duration: 0.5s;
}
#leftDrawerPull:after {
    content: "\203a";
}
#leftDrawerCheck:checked + #leftDrawerContents {
    left: 350px;
}
#leftDrawerCheck:checked + #leftDrawerContents + #leftDrawerPull {
    left: 710px;
}
#leftDrawerCheck:checked + #leftDrawerContents + #leftDrawerPull:after {
    content: "\2039";
}

i:not(.fa-volume-up, .fa-spotify) {
    cursor: pointer;
}